<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>🧑‍💻 Pane Development Sandbox</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script type="module" src="/virtual:pane-sandbox"></script>
  </head>
  <body>
    <solid-ui-provider>
      <header class="bg-gray-100 p-4 flex justify-between items-center mb-0">
        <h1 class="text-2xl! font-bold mb-0">🧑‍💻 Pane Development Sandbox</h1>
        <solid-ui-account></solid-ui-account>
      </header>
      <main class="flex items-center justify-center [&>*]:w-full">Loading pane...</main>
    </solid-ui-provider>
  </body>
</html>
